GET http://localhost:8080/v1/test/ping
Content-Type: application/json
Authorization: Bearer changeme


###
POST http://localhost:8080/v1/login
Content-Type: application/json

{
    "username": "user1",
    "password": "xxxx"
}


###
DELETE http://localhost:8080/v1/logout
Content-Type: application/json

{
    "refresh_token": "changeme"
}


###
POST http://localhost:8080/v1/token
Content-Type: application/json

{
    "refresh_token": "changeme"
}